
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .center{
	margin: auto;
  }
  
  
  /***************/
.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 3px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  
    .top{
	width:90%;
  }


	/***************/
  .bg-1 { 

	 background-image: url("./images/the_amity_affliction.jpg");
	  background-size:     cover;           
	  background-repeat:   no-repeat;	 
	  background-position: center center;  	  

	  
	  
      color: #ffffff;
	  /*height:100vh;*/
	  
  }
  
    .container-fluid {
      padding-top: 40px;
      padding-bottom: 70px;
  }
  
    #container-search{
	padding-top: 0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom: 20%;
	}
  
  
  .btn-how{
	background-color:red;
	position:absolute;
	left:0px;
	top:0px;
  }

  /*****/
  
    .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }

