   
<!-- Second Container -->
<div class="container-fluid bg-2">
  <h3 class="margin  text-center headline">Last Added</h3>
  <div class="table-responsive">
<table class="table table-hover">
    <thead>
      <tr>
		<th>band name</th>
		<th>album name</th>
        <th>#</th>
        <th>song name</th>
        <th>rate</th>
      </tr>
    </thead>
    <tbody>
	   <tr *ngFor="let song of songs"
        [class.selected]="song === selectedSong"
        (click)="onSelect(song)">
		
			
		<td> {{song.album.band.name}} </td>
		<td> {{song.album.name}} </td>
		<td> {{song.number}} </td>
		<td> {{song.name}} </td>
		<td [style.background-color] = "song.grade > 8 ? '#5cb85c' : '#EEE'">
		{{song.grade}} ---//year: {{song.album.year}}  </td>


      </tr>

    </tbody>
  </table>
  </div> 
</div>


	<div *ngIf="selectedSong">
  <h2>
    {{selectedSong.name | uppercase}} is my song
  </h2>
  <my-song [currentSong] = "selectedSong"> </my-song>
  <button (click)="gotoDetail()">View Details</button>
</div>
